<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="I’m a front-end developer who wants to help make the internet a more creative, accessible, and better place."
  />
  <title>
    Front End Developer | Krisztián Hübner
  </title>
  <link rel="stylesheet" type="text/css" href="styles/main.css" />
  <link rel="stylesheet" type="text/css" href="styles/hamburger.css" />
  <link rel="stylesheet" type="text/css" href="styles/technologies.css" />
  <link rel="stylesheet" media="print" href="styles/print.css" pr />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <meta property="og:title" content="Front End Developer | Krisztián Hübner" />
  <meta property="og:type" content="profile" />
  <meta
    property="og:description"
    content="I’m a front-end developer who wants to help make the internet a more creative, accessible, and better place."
  />
  <meta property="og:image" content="img/og.png" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4RE0E70DWV"></script>
  <script>
    window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag("js", new Date());
      gtag("config", "G-4RE0E70DWV");
  </script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&family=Poppins:wght@200;400;700&display=swap"
    rel="stylesheet"
  />
  <script src="https://kit.fontawesome.com/7189bfce67.js" crossorigin="anonymous"></script>
</head>