<nav>
  <img class="me" src="img/me.svg" alt="" />
  <ul class="nav-list">
    <li>
      <a class="nav-list__item active-link" href="/" data-exact="true">
        <i class="fa-solid fa-pen"></i>
        <span>
          About me
        </span>
      </a>
    </li>
    <li>
      <a class="nav-list__item" href="/career" data-redirect="/career/one">
        <i class="fa-solid fa-briefcase"></i>
        <span>
          Career
        </span>
      </a>
      <ul class="subnav-list">
        <li class="subnav-list__item">
          <a href="/career/one">
            As a full stack developer
          </a>
        </li>
        <li class="subnav-list__item">
          <a href="/career/two">
            Deep dive into react
          </a>
        </li>
        <li class="subnav-list__item">
          <a href="/career/three">
            Still in love
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="nav-list__item" href="/hobbies">
        <i class="fa-solid fa-guitar"></i>
        <span>
          Hobbies
        </span>
      </a>
    </li>
    <li>
      <a class="nav-list__item" href="/volunteering">
        <i class="fa-solid fa-handshake-angle"></i>
        <span>
          Volunteering
        </span>
      </a>
    </li>
    <li>
      <a class="nav-list__item" href="/technologies">
        <i class="fa-solid fa-laptop-code"></i>
        <span>
          Technologies
        </span>
      </a>
    </li>
    <li>
      <a class="nav-list__item" href="/languages">
        <i class="fa-solid fa-globe"></i>
        <span>
          Languages
        </span>
      </a>
    </li>
  </ul>
</nav>