<div class="page print-only print-one-line-header" data-pathname="/education">
  <header>
    <h2 class="print-only">
      <i class="fa-solid fa-school print-hidden"></i>
      Education
    </h2>
    <div class="page__tagline">
      <time datetime="2016-09">
        September 2016
      </time>
      -
      <time datetime="2021-01">
        January 2021
      </time>
    </div>
  </header>
  <div class="page__description">
    <p>
      I acquired my bachelor's degree in Computer Science Engineering with a focus on software development at
              the Budapest University of Technology and Economics. During my studies, I serverd as a demonstrator
              teaching a small group of students for a course called Databases. The course was an introductory course
              about the theory of databases. This introductory course delved into the theory of databases, covering
              topics such as relational databases, ACID properties, physical implementations, query optimizations,
              normalization, and row and column calculus.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Bachelor's degree in Computer Science Engineering at the Budapest University of Technology and Economics
              with a focus on software development
    </li>
    <li>
      Demonstrator role for a course about the theory of databases
    </li>
  </ul>
</div>
<div class="page print-one-line-header" data-pathname="/volunteering">
  <header>
    <h2 class="print-only">
      <i class="fa-solid fa-handshake-angle print-hidden"></i>
      Volunteering
    </h2>
    <h1 class="print-hidden">
      La Solidarité
    </h1>
    <div class="page__tagline">
      <time datetime="2023-02">
        February 2023
      </time>
      -
      <time datetime="2023-08">
        August 2023
      </time>
    </div>
  </header>
  <div class="page__description">
    <p>
      I wanted to try something completely different in my life, unrelated to my profession, aiming to discover
              an alternative way of life. This led me to volunteer in France, in a charming village called Vaunières,
              where I worked for the association of Villages des Jeunes. Nestled in the mountains, surrounded by nature,
              the village serves as a hosting centre for various groups. My responsibilities covered a wide range of
              tasks, from facilitating group activities, to everyday chores, all the way to preserving the historical
              heritage of the village. During the almost seven months I spent as a volunteer, I gained invaluable
              insights into the importance of a collective life.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Discovered an alternative way of life in a mountain village functioning as a host centre, disconnected
              from the digital world
    </li>
    <li>
      Wide range of tasks from facilitating group activities to everyday chores
    </li>
    <li>
      Lived in a collective life with people from different social backgrounds
    </li>
  </ul>
</div>
<div class="page print-one-line-header" data-pathname="/languages">
  <header>
    <h1 class="print-hidden">
      Excuse me?!
    </h1>
    <h2 class="print-only">
      <i class="fa-solid fa-earth-europe print-hidden"></i>
      Languages
    </h2>
    <div class="page__tagline print-only">
      English, Hungarian, German, French
    </div>
  </header>
  <div class="page__description">
    <p>
      I have an official B2 proficiency level in both German and English. Since obtaining my certificate, my
              practical proficiency in English has continually progressed, reaching a current level between C1 and C2. I
              learned French when during my time spent as a volunteer in France and I constantly devote time and effort
              to improving my speaking and writing skills.
    </p>
  </div>
</div>
<div class="page print-one-line-header" data-pathname="/hobbies">
  <header>
    <h1 class="print-hidden">
      Hobbits and habits
    </h1>
    <h2 class="print-only">
      <i class="fa-solid fa-guitar print-hidden"></i>
      Hobbies
    </h2>
    <div class="page__tagline print-only">
      playing guitar, climbing, hiking
    </div>
  </header>
  <div class="page__description">
    <p>
      Since my childhood I've been a fan of playing guitar. I have four guitars for different genres of music.
              It's an activity that helps me relax and be creative.
    </p>
    <p>
      I enjoy sports as well. Some days I play ping pong, other days I just go running or biking. However, my
              newest passion is climbing.
    </p>
  </div>
</div>