<div class="page page--active print-hidden" data-pathname="/">
  <h1>
    Hello!
  </h1>
  <div class="page__description">
    <p>
      My name is Krisztián Hübner, I’m a hungarian front-end developer. I believe that front-end development is
              not just about writing code; it's a form of digital craftsmanship that shares similarities with physical
              work. Just as a skilled artisan sees the tangible results of their labor, I take pride in crafting
              seamless and visually striking digital experiences.
    </p>
  </div>
</div>
<div class="page print-one-line-header" data-pathname="/career/three">
  <header>
    <h1 class="print-hidden">
      Wolfs of Wall Street
    </h1>
    <h2 class="print-only">
      MSCI
    </h2>
    <div class="page__tagline">
      <time datetime="2022-05">
        May 2022
      </time>
      -
      <time datetime="2022-12">
        December 2022
      </time>
    </div>
  </header>
  <div class="page__description print-hidden">
    <p>
      At a large finance company , I contributed to a small team working on a greenfield project that empowered
              clients to build custom indexes using React and the Fluent component library, connected to a Java-based
              backend. My responsibilities included implementing features, bug fixing, writing tests with Jest, and
              refactoring. This experience provided valuable insights into large-scale company operations, and on the
              technical side, expanded my knowledge in testing methodologies.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Development of a React application using Fluent library that enables clients to build custom indexes
    </li>
    <li>
      Close collaboration with the Java back-end team to connect back-end parts
    </li>
    <li>
      Improvement of code quality with refactoring, testing
    </li>
    <li>
      Conducting of demos to present new features to stakeholders
    </li>
  </ul>
  <a class="btn btn--secondary" href="/career/two">
    Previous
  </a>
</div>
<div class="page print-one-line-header" data-pathname="/career/two">
  <header>
    <h1 class="print-hidden">
      How would you
      <i>
        React
      </i>
      ?
    </h1>
    <h2 class="print-only">
      JayStack
    </h2>
    <div class="page__tagline">
      <time datetime="2020-11">
        September 2020
      </time>
      -
      <time datetime="2022-05">
        May 2022
      </time>
    </div>
  </header>
  <div class="page__description">
    <p>
      In a team working on an e-commerce wine and spirit trading platform for a British client, our focus was
              migrating their legacy system to Node.js with a GraphQL API. While maintaining and adding features to the
              frontend applications, my role predominantly involved front-end development using React, Redux, Storybook,
              Tailwind, styled-components, and MUI. The technology stack also included Shopify, Stripe, and Azure. I
              took on the responsibility of a client application, gaining a profound understanding of the applications
              and their architecture. This led to active participation in technical decision-making, task assignment,
              and explaining tasks to other developers, providing valuable insights into effective collaboration and
              leadership.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Development, maintenance and migration of an e-commerce trading platform together in a team with
              outsourced and in-house developers
    </li>
    <li>
      Contributing to back end running on a custom in-house GraphQL based ORM similar to Prisma that connects to
              MongoDB.
    </li>
    <li>
      Taking full responsibility for the maintenance of a front-end application.
    </li>
    <li>
      Taking part in preparation and development work to refactor the website on a new technology stack using
              Tailwind CSS and MUI components
    </li>
    <li>
      Leveraging Storybook to document custom component library built on styled-components
    </li>
    <li>
      Assessment and estimation of the cost of integrating new payment providers including Stripe according to
              accounting needs
    </li>
    <li>
      Mentoring new developers, while actively proposing new procedures to follow in the development process
    </li>
  </ul>
  <a class="btn btn--secondary" href="/career/one">
    Previous
  </a>
  <a class="btn btn--primary" href="/career/three">
    Next
  </a>
</div>
<div class="page print-one-line-header" data-pathname="/career/one">
  <header>
    <h1 class="print-hidden">
      A long time ago...
    </h1>
    <h2 class="print-only">
      Tappointment
    </h2>
    <div class="page__tagline">
      <time datetime="2019-06">
        June 2019
      </time>
      -
      <time datetime="2020-09">
        September 2020
      </time>
    </div>
  </header>
  <div class="page__description">
    <p>
      In my role as Full Stack Developer, I contributed to a platform enabling digital contracts, focusing on
              features for users to create and sign documents. Utilizing Vue.js and Vuex for the front end and Express
              with knex and MySQL for the backend, I also gained insights into payment gateway operations. Transitioning
              to a new project, I became part of a team developing a Jira-integrated application for running retro
              ceremonies. Responsibilities included understanding add-on development documentation, establishing the
              initial architecture, and implementing real-time functionality using server-sent events (SSE) and Redis
              store. We were following the practices of Scrum methodology on a daily basis. This experience enhanced
              collaborative skills within a dynamic team, and reinforced the importance of a proactive approach in the
              workplace.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Full-stack development on a platform that facilitates digital contracts between companies, using Vue.js
              with Nuxt on the front end, and a back end built with Express framework connected to a MySQL database.
    </li>
    <li>
      Following strict Scrum practices to streamline our development process
    </li>
    <li>
      Full refactoring and redesign of an admin site from Angular to Vue.js
    </li>
    <li>
      Taking a crucial role in defining the functional requirements of an in-house product to facilitate
              retrospectives, and the development using TypeORM and React with Redux Toolkit
    </li>
  </ul>
  <a class="btn btn--primary" href="/career/two">
    Next
  </a>
</div>

<div class="page print-only print-one-line-header" data-pathname="/education">
  <header>
    <h2 class="print-only">
      <i class="fa-solid fa-school print-hidden"></i>
      Education
    </h2>
    <div class="page__tagline">
      <time datetime="2016-09">
        September 2016
      </time>
      -
      <time datetime="2021-01">
        January 2021
      </time>
    </div>
  </header>
  <div class="page__description">
    <p>
      I acquired my bachelor's degree in Computer Science Engineering with a focus on software development at
              the Budapest University of Technology and Economics. During my studies, I serverd as a demonstrator
              teaching a small group of students for a course called Databases. The course was an introductory course
              about the theory of databases. This introductory course delved into the theory of databases, covering
              topics such as relational databases, ACID properties, physical implementations, query optimizations,
              normalization, and row and column calculus.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Bachelor's degree in Computer Science Engineering at the Budapest University of Technology and Economics
              with a focus on software development
    </li>
    <li>
      Demonstrator role for a course about the theory of databases
    </li>
  </ul>
</div>
<div class="page print-one-line-header" data-pathname="/volunteering">
  <header>
    <h2 class="print-only">
      <i class="fa-solid fa-handshake-angle print-hidden"></i>
      Volunteering
    </h2>
    <h1 class="print-hidden">
      La Solidarité
    </h1>
    <div class="page__tagline">
      <time datetime="2023-02">
        February 2023
      </time>
      -
      <time datetime="2023-08">
        August 2023
      </time>
    </div>
  </header>
  <div class="page__description">
    <p>
      I wanted to try something completely different in my life, unrelated to my profession, aiming to discover
              an alternative way of life. This led me to volunteer in France, in a charming village called Vaunières,
              where I worked for the association of Villages des Jeunes. Nestled in the mountains, surrounded by nature,
              the village serves as a hosting centre for various groups. My responsibilities covered a wide range of
              tasks, from facilitating group activities, to everyday chores, all the way to preserving the historical
              heritage of the village. During the almost seven months I spent as a volunteer, I gained invaluable
              insights into the importance of a collective life.
    </p>
  </div>
  <ul class="print-only bullet-points">
    <li>
      Discovered an alternative way of life in a mountain village functioning as a host centre, disconnected
              from the digital world
    </li>
    <li>
      Wide range of tasks from facilitating group activities to everyday chores
    </li>
    <li>
      Lived in a collective life with people from different social backgrounds
    </li>
  </ul>
</div>
<div class="page print-one-line-header" data-pathname="/languages">
  <header>
    <h1 class="print-hidden">
      Excuse me?!
    </h1>
    <h2 class="print-only">
      <i class="fa-solid fa-earth-europe print-hidden"></i>
      Languages
    </h2>
    <div class="page__tagline print-only">
      English, Hungarian, German, French
    </div>
  </header>
  <div class="page__description">
    <p>
      I have an official B2 proficiency level in both German and English. Since obtaining my certificate, my
              practical proficiency in English has continually progressed, reaching a current level between C1 and C2. I
              learned French when during my time spent as a volunteer in France and I constantly devote time and effort
              to improving my speaking and writing skills.
    </p>
  </div>
</div>
<div class="page print-one-line-header" data-pathname="/hobbies">
  <header>
    <h1 class="print-hidden">
      Hobbits and habits
    </h1>
    <h2 class="print-only">
      <i class="fa-solid fa-guitar print-hidden"></i>
      Hobbies
    </h2>
    <div class="page__tagline print-only">
      playing guitar, climbing, hiking
    </div>
  </header>
  <div class="page__description">
    <p>
      Since my childhood I've been a fan of playing guitar. I have four guitars for different genres of music.
              It's an activity that helps me relax and be creative.
    </p>
    <p>
      I enjoy sports as well. Some days I play ping pong, other days I just go running or biking. However, my
              newest passion is climbing.
    </p>
  </div>
</div>