<address class="social-links">
  <a target="_blank" href="https://github.com/stchristian">
    <i class="fa-brands fa-github"></i>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/christianhubner/">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="mailto:krisztianhubner@gmail.com">
    <i class="fa-solid fa-envelope"></i>
  </a>
</address>