<div class="page print-one-line-header" data-pathname="/technologies">
  <header>
    <h1 class="print-hidden">
      Technologies
    </h1>
    <h2 class="print-only">
      Technologies
    </h2>
  </header>
  <div class="page__description print-hidden">
    <p>
      A list of the technologies I used over the years.
    </p>
  </div>
  <div class="table">
    <div class="table__tab-bar print-hidden">
      <button id="frontend" class="table__tab table__tab--active">
        front-end
      </button>
      <button id="backend" class="table__tab">
        back-end
      </button>
      <button id="other" class="table__tab">
        other
      </button>
    </div>
    <div class="table__body">
      <!-- #region frontend tech list -->
      <div data-button-id="frontend" class="table__body__list table__body__list--active">
        <div class="tech-item">
          React
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Redux
          <span class="minitext">
            (Toolkit, Saga)
          </span>
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          React Testing Library
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          React Query
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          MUI React
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Lodash
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Fluent
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          NextJS
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Vue.js
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Nuxt.js
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Angular
          <div class="tech-item__badges">
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Tailwind CSS
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Styled Components
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Storybook
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          HTML
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          CSS
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Sass
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          React Native
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Bootstrap
          <div class="tech-item__badges">
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Webpack
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Babel
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Jest
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
      </div>
      <!-- #endregion-->

      <div data-button-id="backend" class="table__body__list">
        <div class="tech-item">
          Node.js
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          GraphQL
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Express
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          TypeORM
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          MongoDB
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          AWS
          <span class="minitext">
            (EC2, S3, Lambda)
          </span>
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Azure
          <span class="minitext">
            (App Service, Pipelines)
          </span>
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Firebase
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Redis
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Serverless
          <div class="tech-item__badges">
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
      </div>
      <div data-button-id="other" class="table__body__list">
        <div class="tech-item">
          Figma
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Insomnia
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          VSCode
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Gitlab
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Github Actions
          <div class="tech-item__badges"></div>
        </div>
        <div class="tech-item">
          Docker
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          VSCode
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          TypeScript
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="confident"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Stripe
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Opayo
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
        <div class="tech-item">
          Shopify
          <div class="tech-item__badges">
            <tech-badge type="work"></tech-badge>
            <tech-badge type="out-of-date"></tech-badge>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="notation">
    <h4 class="notation__header print-hidden">
      <button id="notationButton">
        <i class="fa-solid fa-angle-right"></i>
        Notation
      </button>
    </h4>
    <ul class="notation__body">
      <li class="notation__item">
        <tech-badge type="work"></tech-badge>
        Work experience
      </li>
      <li class="notation__item">
        <tech-badge type="confident"></tech-badge>
        Great confidence
      </li>
      <li class="notation__item">
        <tech-badge type="out-of-date"></tech-badge>
        Not up to date as not having been used recently
      </li>
    </ul>
  </div>
</div>