<div class="print-head print-only">
  <div class="print-head__flex">
    <header>
      <h1>
        {{fullName}}
      </h1>
      <p class="tagline">
        Front-end Developer
      </p>
    </header>
    <ul class="contact-details">
      <li>
        <span>
          <i class="fa-solid fa-location-dot"></i>

          <strong>
            Address
          </strong>
        </span>
        {{address}}
      </li>
      <li>
        <span>
          <i class="fa-solid fa-phone"></i>

          <strong>
            Phone
          </strong>
        </span>
        {{tel}}
      </li>
      <li>
        <span>
          <i class="fa-solid fa-envelope"></i>

          <strong>
            Email
          </strong>
        </span>{{email}}
      </li>
      <li>
        <span>
          <i class="fa-solid fa-globe"></i>

          <strong>
            Website
          </strong>
        </span>
        <a href="https://stchristian.github.io/">
          stchristian.github.io
        </a>
      </li>
      <li>
        <span>
          <i class="fa-brands fa-linkedin"></i>

          <strong>
            Linkedin
          </strong>
        </span>
        <a href="https://www.linkedin.com/in/christianhubner/">
          christianhubner
        </a>
      </li>
    </ul>
  </div>
  <p>
    I believe that software development is similar to playing in a sports team. Success requires effective
        communication, leveraging individual strengths, and a shared goal. This synergy is the key to achieving our
        objectives in this field. Therefore, becoming a team leader is among my future goals.
  </p>
</div>